## Sven Co-op Map CFG file - C.A.G.E.D. Maps 
## Map By: Future Games Select & Cayle George

nextmap caged_01

mp_weapon_respawndelay -1
mp_ammo_respawndelay -1
mp_item_respawndelay -1
mp_allowmonsterinfo 0
mp_disable_autoclimb 1
mp_npckill 2
mp_forcerespawn 0
mp_weaponstay 0
mp_multiplespawn 1
mp_telefrag 0
npc_dropweapons 1

nosuit
nomedkit

map_script CAGED
mp_survival_starton 0

globalmodellist ../../maps/caged.gmr
globalsoundlist ../../maps/caged.gsr

sentence_file sound/caged/caged_sentences.txt
materials_file ../../sound/caged/caged_materials.txt